src/main/mule/hamedqueue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5d8e7494-0568-43d6-b394-2fa366d4a240" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4e78cf4c-c356-47ff-8edf-e9dfb73afc7f" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="hamedbinyounus@123" database="trainee_ias" />
	</db:config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="2f1b1009-acea-48e7-91a0-64eb555bcf0e" >
		<jms:active-mq-connection username="admin" password="admin"/>
	</jms:config>
	<flow name="hamedqueueFlow" doc:id="56d2e15c-08bb-4685-be16-1a881598dbd6" >
		<http:listener doc:name="Listener" doc:id="9976ef05-cd03-4319-8810-282002d94a77" config-ref="HTTP_Listener_config" path="/test"/>
		<db:insert doc:name="Insert" doc:id="9af85dc6-36b3-4a0d-a524-0bf2ab0f8b0a" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into trainee_tbl (traineeid, traineename, cadre)
values(:traineeid, :traineename, :cadre)
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	traineeid:payload.traineeid,
	traineename:payload.traineename,
	cadre:payload.cadre
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="a67a7321-f61f-409c-b994-df995b1cabb4" >
			<ee:message >
				<ee:set-payload ><![CDATA["success"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b82117da-0a81-49b4-aff7-6b3a2efab5c1" >
				<ee:transform doc:name="Transform Message" doc:id="90251cef-4c1c-47c1-ad14-395738472bb6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<jms:publish doc:name="Publish" doc:id="8557b4ea-3c8d-4e05-9a64-e6144a42fc96" config-ref="JMS_Config" destination="TestMuleQueue"/>
				<ee:transform doc:name="Transform Message" doc:id="f4e41dfc-c6aa-47ac-afdf-8b46da810abc" >
					<ee:message >
						<ee:set-payload ><![CDATA["created success"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="hamedqueueFlow1" doc:id="6b93d5ff-ca09-44e3-8b74-776901b8ad11" >
		<scheduler doc:name="Scheduler" doc:id="2fa24857-29c7-40d4-9c84-45c40b54302f" >
			<scheduling-strategy >
				<fixed-frequency frequency="10000"/>
			</scheduling-strategy>
		</scheduler>
		<jms:consume doc:name="Consume" doc:id="33e68bc9-c7ea-46a6-a987-7a7148f775f5" config-ref="JMS_Config" destination="TestMuleQueue"/>
		<ee:transform doc:name="Transform Message" doc:id="5ffeac68-5b04-4147-899a-0b0b8aa1ae0d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="ef818c10-ca72-4249-94c0-90a54046d6e4" >
			<db:insert doc:name="Insert" doc:id="f3bab3e6-858c-466c-a09f-76b8e55b58ab" config-ref="Database_Config">
				<db:sql ><![CDATA[insert into trainee_tbl (traineeid, traineename, cadre)
values(:traineeid, :traineename, :cadre)
]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	traineeid:payload.traineeid,
	traineename:payload.traineename,
	cadre:payload.cadre
}]]]></db:input-parameters>
			</db:insert>
			<logger level="INFO" doc:name="Logger" doc:id="5f72ca04-5a82-48a4-8c63-34dfcb2825d8" message="#[payload]"/>
		</until-successful>
	</flow>
</mule>
